matplotlib==3.10.8
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779272071/work
numpy==1.26.4
pandas @ file:///C:/Users/task_177064249423800/croot/pandas_1770643000372/work
scikit-learn==1.3.2
seaborn @ file:///C:/b/abs_0bv5x0ucxb/croot/seaborn_1749110315600/work
